/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/behaviors.h>
#include <behaviors/num_word.dtsi>
#include <behaviors/num_word.dtsi>
#include <input/processors.dtsi>
#include "keys_it.h"

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000
#define ZMK_POINTING_DEFAULT_SCRL_VAL 40

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&num_word { continue-list = <IT_LPAR IT_RPAR IT_EQUAL IT_SLASH IT_MINUS IT_ASTRK IT_PLUS IT_PRCNT IT_COMMA IT_DOT>; };

&caps_word { continue-list = <SPACE>; };

&mt {
    tapping-term-ms = <130>; // This is the value already set by default
};

/ {
    macros {
        Passpc: Passpc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N3 &kp N1 &kp N1>;
        };

        Passfirma: Passfirma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N7 &kp N3 &kp N0 &kp N0 &kp N2 &kp N0 &kp N9 &kp N9>;
        };
    };
};

/ {
    behaviors {
        nav_word: nav_word {
            compatible = "zmk,behavior-auto-layer";
            #binding-cells = <1>;
            continue-list = <LEFT DOWN UP RIGHT PG_DN PG_UP>;
            ignore-modifiers;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_backspace {
            timeout-ms = <50>;
            key-positions = <19 20>;
            bindings = <&kp BSPC>;
        };

        combo_space {
            timeout-ms = <60>;
            key-positions = <15 16>;
            bindings = <&kp SPACE>;
        };

        combo_enter {
            timeout-ms = <50>;
            key-positions = <31 32>;
            bindings = <&kp ENTER>;
        };

        combo_del {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp DEL>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <16 17>;
            timeout-ms = <50>;
        };

        grave {
            bindings = <&kp IT_APOS>;
            key-positions = <18 19>;
            timeout-ms = <50>;
        };

        capslock {
            bindings = <&num_word 2>;
            key-positions = <5 17>;
            timeout-ms = <50>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <28 29>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "___@@@___";
            bindings = <
&none  &kp Q  &kp W  &mt IT_E_ACUTE E  &kp R  &kp T  &kp Y  &mt IT_U_GRAVE U  &kp I  &mt IT_O_GRAVE O  &kp LALT  &none  &none  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp P  &none  &none  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &caps_word  &none  &caps_word  &sk LCTRL  &sk LSHIFT  &sl 3  &nav_word 1  &none
            >;
        };

        nav_layer {
            display-name = "_____>>>";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp PG_UP  &trans  &kp PG_DN  &trans  &trans  &trans  &sk LEFT_WIN  &sk LALT  &sk LCTRL  &sk LSHFT  &kp DEL  &trans  &kp LEFT  &kp UP  &kp RIGHT  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp DOWN_ARROW  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        num_layer {
            display-name = "<<<_____";
            bindings = <
&trans  &trans  &kp KP_N7  &kp KP_N8  &kp KP_N9  &mt IT_ASTRK IT_SLASH  &trans  &trans  &trans  &trans  &trans  &none  &trans  &trans  &kp KP_N4  &kp KP_N5  &kp KP_N6  &mt IT_PLUS IT_MINUS  &trans  &trans  &trans  &trans  &trans  &none  &trans  &trans  &kp KP_N1  &kp KP_N2  &kp KP_N3  &mt IT_EQUAL ENTER  &trans  &trans  &trans  &trans  &trans  &trans  &none  &kp IT_COMMA  &kp KP_N0  &trans  &trans  &trans
            >;
        };

        sym_layer {
            display-name = "   <>   ";
            bindings = <
&trans  &mt IT_POUND IT_AMPS  &kp C_PLAY  &mt IT_BSLH IT_DOLLAR  &mt IT_LBKT IT_RBKT  &mt IT_LBRC IT_RBRC  &kp SEMI  &kp COLON  &kp EXCL  &kp QUESTION  &Passpc  &none  &trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp IT_DQT  &kp IT_LPAR  &kp IT_RPAR  &kp IT_UNDER  &Passfirma  &none  &trans  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp IT_SLASH  &kp IT_AT  &kp IT_EURO  &kp IT_PERCENT  &kp PRINTSCREEN  &none  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
